:root {
    --background-color: #f5f5f5;
    --text-color: #333;
    --border-thickness: 1px;
    --border-radius: 1vw;
    --margin: 1vw;
    --padding: 1vw;
    --gap: 1vw;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

    border-width: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

body * {
    border-width: var(--border-thickness);
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-sizing: border-box;
}