.content-section {
    border-radius: calc(var(--border-radius) * 3);
    margin: calc(var(--margin) * 2);
    padding: var(--padding);
    padding-top: calc(var(--padding) * 3);

    display: flex;
    flex-direction: column;

    background-image: url(../../assets/landing.webp);
    background-color: var(--color-primary);
    background-blend-mode:color-dodge;

    background-size: 100% auto;

    box-shadow: var(--shadow-lg);
}

.greeting-section {
    border-radius: calc(var(--border-radius) * 2);
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 5vw;
}

.goal-card-display {
    border-radius: calc(var(--border-radius) * 2);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    flex-grow: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-image: var(--gradient-primary);
    align-self: center;
    display: flex;
    flex-grow: 1;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.footer-bar{
     display: flex;
     flex-direction: column; 
     width: 100%; 
     height: auto;
     margin: 0 auto;
     margin-top: auto;
     border-top: 1px solid lightgray;
     background-image: linear-gradient(rgba(255, 255, 255, 0), var(--color-primary));
     padding-left: var(--spacing-2);
     padding-right: var(--spacing-2);
     padding-bottom: var(--spacing-2);
}