@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
    }

.typewriter-animation{
    animation:
        typewriter 4s steps(40, end),
        blink-caret .75s step-end infinite;
}