.date-row{
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
}

.date-row .date-element{
    width: 14.28%; /* 100% / 7 days */
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.date-row .date-element:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
}

.current-date{
    background-color: var(--color-primary);
}

.calendar-goal-display{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.calendar-day-element{
    width: 14.28%; /* 100% / 7 days */
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: var(--spacing-1);
}

.drag-over{
    background-color: var(--color-primary);
}

.sidebar-section{
    padding: var(--spacing-1);
}

.task-element{
    width: 100%;
    height: 50px;
    background-color: var(--color-primary);
    margin-bottom: var(--spacing-1);
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--textColor);
    border-radius: var(--radius-1);
}

.draggable{
    cursor: grab;
    user-select: none;
    position: relative;
}

.draggable:active{
    cursor: grabbing;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}