.footer-content{
    align-content: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.footer-content h1{
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.footer-content th{
    text-align: left;
    padding-right: 15px;
}

.footer-content p{
    font-size: 16px;
    margin: 5px 0;
}

.footer-bar a {
    text-decoration: none;
    background-color: var(--color-transparent);
    border-radius: var(--radius-05);
}

.footer-bar a:hover {
    background-color: var(--color-primary-semi);
}