.greeting-logo {
    filter: drop-shadow(0vw 0vw 0.5vw lightgray);

    width: 20vw;
    height: 20vw;
    margin-bottom: var(--margin);
}

.greeting-header, .subtitle {
    margin: 0 auto;
    padding: 0;
    font-size: 5vw;
}

.greeting-name, .title{
    background-image:linear-gradient(#45e3ff, #5ac700);
    background-clip:text;
    color:rgba(0, 0, 0, 0);
    
    margin: 0 auto;
    padding: 0;
    margin-bottom: clamp(1vw, 1.5vw, 3vw);
}
