.greeting-logo {
    display: block !important;
    filter: drop-shadow(var(--shadow-sm));
    width: clamp(160px, 20vw, 250px) !important;
    height: auto !important;
    margin: 0 auto var(--spacing-1) auto !important;
    object-fit: contain;
}

.greeting-header, 
.subtitle {
    margin: var(--spacing-0) auto;
    padding: var(--spacing-0);
    font-size: 5vw;
}

.greeting-name, 
.title {
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    
    margin: var(--spacing-0) auto;
    padding: var(--spacing-0);
    margin-bottom: clamp(var(--spacing-1), 1.5vw, var(--spacing-3));
}
