.navigation-bar, .navigation-bar * {
    display: flex;
    justify-content: space-between;

    gap: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;

    text-decoration: none;
}

.navigation-bar{
    background-image: var(--gradient-nav);

    height: 3vw;
    padding-left: 10%;
    padding-right: 10%;

    border-radius: 0;
}

.home-page, .about-page, .settings-page, .profile-page{
    margin:auto;
    gap: var(--spacing-05);

    font-family: var(--font-sans);
    color: var(--color-black);

    border-radius: var(--radius-05);
    background-color: var(--color-transparent);

    padding: 0;

    transition: all var(--transition-fast) ease-in-out;
}

.home-page:hover, .about-page:hover, .settings-page:hover, .profile-page:hover{
    background-color: var(--color-primary-semi);
}