.profile-header {
    font-size: 4.5rem;
    color: var(--color-secondary);
}

.profile-subheader {
    font-size: 3.5rem;
    color: var(--color-primary);
    margin-top: 0.5rem;
}

.profile-hero{
    width: 100%;
    height: 300px;
    position: relative;
}