.progress-display, .greeting-button {
    background-color: white;
    border: solid gray;
    border-radius: calc(var(--border-radius) * 2.5);
    
    margin: var(--margin) auto;
    
    width: 30vw;
    height: 3vw;

    position: relative;
    overflow: hidden;

    box-shadow: 0vw 0vw 0.5vw lightgray;
}

.progress-counter {
    margin: 0;
    padding: 0;
    border-width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 2;

    font-weight: bold;
    font-size: 2vw;
}

.progress-bar{
    position:relative;
    background-image: linear-gradient(#51ff77cc, #73ff00cc);
    background-clip: content-box;

    border-width: 0;
    border-radius: 0;
    border-right: 2px solid #3fff496c;

    box-shadow: 0vw 0vw 5vw #00ff15cc;
    float:left;
    height: 3vw;
    width: 0vw;

    transition: all 0.5s ease-out;
}

.progress-display:hover .progress-bar{
    width: 100%;
}